<p id="notice"><%= notice %></p>
<h2 class="text-center pb-3">Users <span class="badge bg-info"><%= @users.count %></span></h2>
<div class="row pt-2">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :email_cont, placeholder: 'email' %>
    <%= f.submit %>
    <%= link_to users_path, class: 'btn btn-sm btn-primary mb-1' do %>
      <i class="fa fa-sync"></i>
    <% end %>
  <% end %>
</div>
<div class="row pt-1">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= sort_link(@q, :email) %></th>
          <th scope="col">Created_at</th>
          <th scope="col"><%= sort_link(@q, 'sign_in_count'.humanize) %></th>
          <th scope="col"><%= 'current_sign_in_at'.humanize %></th>
          <th scope="col"><%= 'last_sign_in_at'.humanize %></th>
          <th scope="col"><%= 'current_sign_in_ip'.humanize %></th>
          <th scope="col"><%= 'last_sign_in_ip'.humanize %></th>
          <th scope="col"><%= 'courses_count'.humanize %></th>
          <th scope="col"><%= 'enrollments_count'.humanize %></th>
          <th scope="col"><%= 'comments_count'.humanize %></th>
          <th scope="col"><%= 'user_lessons_count'.humanize %></th>
          <th scope="col"><%= 'confirmed'.humanize %></th>
          <th scope="col"><%= 'roles'.humanize %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td>
              <%= link_to user_path(user) do %> 
                <%= user.email %>
              <% end %>
            </td>
            <td><%= user.created_at.strftime('%d/%m/%y - %H:%M') %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.current_sign_in_at %></td>
            <td><%= user.last_sign_in_ip %></td>
            <td><%= user.current_sign_in_ip %></td>
            <td><%= user.last_sign_in_ip %></td>
            <td><%= user.courses_count %></td>
            <td><%= user.enrollments_count %></td>
            <td><%= user.comments_count %></td>
            <td><%= user.user_lessons_count %></td>
            <td><%= user.confirmed_at? %></td>
            <td>
              <table>
                <% user.roles.each do |role| %>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-info btn-sm" disabled><%= role.name %></button>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td><%= link_to 'Edit roles', edit_user_path(user), class: "btn btn-warning btn-sm pt-1" if policy(user).edit? %><td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row pt-5">
  <div class="d-flex justify-content-center"><%== pagy_bootstrap_nav(@pagy) %></div>
</div>