<p id="notice"><%= notice %></p>

<h2 class="text-center pb-3">Users <span class="badge bg-info"><%= @users.count %></span></h2>

<div class="row py-2">
  <% @users.each do |user| %>
    <div class="col-sm-4 pt-4">
      <%= render 'user', user: user %>
    </div>
  <% end %>
</div>

<div class="row pt-2">
  <%= search_form_for @q do |f| %>

    <%= f.search_field :email_cont, placeholder: 'email' %>
    <%= f.search_field :sign_in_count_eq, placeholder: 'sign in count' %>
    <%= f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count' %>

    <%= f.submit %>
    <%= link_to users_path, class: 'btn btn-sm btn-primary mb-1' do %>
      <i class="fa fa-sync"></i>
    <% end %>
  <% end %>
</div>
<div class="row pt-1">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= sort_link(@q, :email) %></th>
        <th scope="col">Created_at</th>
        <th scope="col"><%= sort_link(@q, 'sign_in_count'.humanize) %></th>
        <th scope="col"><%= 'current_sign_in_at'.humanize %></th>
        <th scope="col"><%= 'last_sign_in_ip'.humanize %></th>
        <th scope="col"><%= 'current_sign_in_ip'.humanize %></th>
        <th scope="col"><%= 'last_sign_in_ip'.humanize %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.current_sign_in_at %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.last_sign_in_ip %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>