
<%= simple_form_for([@course, @lesson]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
    <small><%= f.error :content, class: 'text-danger' %></small>
    <% if @lesson.video.attached? %>
      <%#= image_tag @course.avatar, width: "200px", class: "pt-2" %>
      <div class="row">
        <div class="col-md-12">
          <%= @lesson.video.filename %>
        </div>
      </div>
    <% end %>
    <%= f.input :video %>
    <% if @lesson.video_thumbnail.attached? %>
      <%#= image_tag @course.avatar, width: "200px", class: "pt-2" %>
      <div class="row">
        <div class="col-md-12">
          <%= @lesson.video_thumbnail.filename %>
        </div>
      </div>
    <% end %>
    <%= f.input :video_thumbnail %>
    <%= f.input :course_id, input_html: { value: @lesson.course_id || params[:course_id]}, as: :hidden %>
  </div>

  <div class="form-actions pt-2">
    <%= f.button :submit %>
  </div>
<% end %>
