<div class="card mt-2">
  <div class="card-header">
    <%= lesson.viewed(current_user) ? content_tag(:i, "", class: "fa fa-check-square", style: "color:green;") : content_tag(:i, "", class: "fa fa-times", style: "color:red;") %>
    <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <div class="row">
        <% if @lesson.video.attached? %>
          <% if @lesson.video_thumbnail.attached? %>
            <%#= video_tag rails_blob_url(@lesson.video), :poster => url_for(@lesson.video_thumbnail), id: 'my-video' %>
            <%= video_tag rails_blob_url(@lesson.video), :poster => url_for(@lesson.video_thumbnail) %>
          <% else %>
            <%= video_tag rails_blob_url(@lesson.video), :controls => true, width: '100%' %>
          <% end %>
          <% if policy(lesson).edit? %>
            <%= link_to 'Remove video and thumbnail', delete_video_course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
      <%= lesson.content %>
    </div>
  <% end %>
  <% if policy(lesson).edit? %>
    <div class="card-footer">
      <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>
  <div class="card-footer">
    <div class="d-flex justify-content-between pt-3">
      <% unless lesson.prev.nil? %>
        <%= link_to 'Previous', course_lesson_path(@course, lesson.prev), class: 'btn btn-sm btn-primary' %>
      <% end %>
      <% unless lesson.next.nil? %>
        <%= link_to 'Next', course_lesson_path(@course, lesson.next), class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
