<div class="d-flex justify-content-between">
  <div>
    <%= lesson.viewed(current_user) ? content_tag(:i, "", class: "fa fa-check-square", style: "color:green;") : content_tag(:i, "", class: "fa fa-times", style: "color:red;") %>
    <%= link_to course_lesson_path(@course, lesson) do %>
      <%= lesson.row_order_rank + 1 %>.
      <%= lesson.title %>
    <% end %>
  </div>
  <div>
    <i class="fa fa-comment"></i> <%= lesson.comments_count %>
    <% if policy(lesson).edit? %>
      <i class="fa fa-eye"></i> Impressions: <%= lesson.user_lessons.map(&:impressions).sum %>
      <i class="fa fa-eye"></i> Unique viewers: <%= lesson.user_lessons.count %>
      <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>