<div class="card">
  <div class="card-header">
    <i class="fa fa-graduation-cap"></i> <%= link_to course.title, course_path(course) %>
  </div>
  <div class="card-body">
    <%= course.short_description.truncate(50) %>
  </div>
  <div class="card-footer">
    <i class="fa fa-book"></i> <%= course.lessons.count %>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div><i class="fa fa-globe-africa"></i> <%= course.language %></div>
    <div><i class="fa fa-signal"></i> <%= course.level %></div>
    <div><i class="fas fa-chalkboard-teacher"></i> <%= number_to_currency(course.price) %></div>
  </div>
  <div class="card-footer">
    <p>
      <i class="fas fa-stopwatch"></i> <%= course.created_at.strftime('%d-%b-%Y') %>
    </p>
    <p>
      <i class="fas fa-chalkboard-teacher"></i> <%= link_to course.user.username, user_path(course.user) %>
    </p>
  </div>
  <% if current_user.present? %>
    <div class="card-footer">
      <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' if policy(course).edit? %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if policy(course).destroy? %>
    </div>
  <% end %>
</div>
