<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <%= link_to 'RubyGems', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to home_index_path, class: 'nav-link active' do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>
          <% if current_user.has_role?(:student) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-graduation-cap"></i>
                Learn
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <%= link_to purchased_courses_path, class: 'dropdown-item' do %>
                    <i class="fa fa-graduation-cap"></i>
                    Purchased Courses
                    <span class="badge" style="background-color: red;">
                      <%= current_user.enrollments_count %>
                    </span>
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to pending_review_courses_path, class: 'dropdown-item' do %>
                    <i class="fa fa-star"></i>
                    Pending Review
                    <span class="badge" style="background-color: red;">
                      <%= current_user.enrollments.pending_review.count %>
                    </span>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if current_user.has_role?(:teacher) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-chalkboard-teacher"></i>
                Teach
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <%= link_to new_course_path, class: 'dropdown-item' do %>
                    <i class="far fa-plus-square"></i>
                    Create Course
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to created_courses_courses_path, class: 'dropdown-item' do %>
                    <i class="fa fa-graduation-cap"></i>
                    My Courses
                    <span class="badge" style="background-color: red;">
                      <%= current_user.courses_count %>
                    </span>
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to my_students_enrollments_path, class: 'dropdown-item' do %>
                    <i class="fa fa-users"></i>
                    My Students
                    <span class="badge" style="background-color: red;">
                      <%= Enrollment.joins(:course).where(courses: { user: current_user }).count %>
                    </span>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if current_user.has_role?(:admin) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <%= link_to unapproved_courses_path, class: 'dropdown-item' do %>
                    <i class="fa fa-graduation-cap"></i>
                    Unapproved courses
                    <span class="badge" style="background-color: red;">
                      <%= Course.unapproved.count %>
                    </span>
                  <% end %>
                </li>
                <hr>
                <li>
                  <%= link_to users_path, class: 'dropdown-item' do %>
                    <i class="fa fa-users"></i>
                    Users
                    <span class="badge" style="background-color: red;">
                      <%= User.count %>
                    </span>
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to enrollments_path, class: 'dropdown-item' do %>
                    <i class="fa fa-lock-open"></i>
                    Enrollments
                    <span class="badge" style="background-color: red;">
                      <%= Enrollment.count %>
                    </span>
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to activity_path, class: 'dropdown-item' do %>
                    <i class="fa fa-bell"></i>
                    Activity
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to tags_path, class: 'dropdown-item' do %>
                    <i class="fa fa-tags"></i>
                    Tags
                  <% end %>
                </li>
                <hr>
                <li class="nav-item">
                  <%= link_to analytics_path, class: 'dropdown-item' do %>
                    <i class="fa fa-chart-line"></i>
                    Analytics
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <%= link_to courses_path, class: 'nav-link' do %>
              <i class="fas fa-book"></i>
              Courses
            <% end %>
          </li>
        </ul>

        <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path, class: 'd-flex' do |f| %>
          <%= f.search_field(:title_cont, class: "form-control me-2", placeholder: 'Find a course') %>
          <%= submit_tag ("Search"), class: "btn btn-outline-success" %>
        <% end %>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to 'Account settings', edit_user_registration_path, class: 'dropdown-item' %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link active' do %>
              Sign Up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              Log In
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>